.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
